.main-content{
    margin-left: 200px;
}

.new-post-title{
    color: white;
}

.new-post-con{
    background-color: #2EAFAB;
    padding: 5%;
    border-radius: 40px;
    box-shadow: 8px 17px 42px 0px #0000003e;
}

.btn-post{
    margin-left: 10%;
    width: 80% !important;
    background-color: #FDCE1A !important;
    color: #0C0925 !important;
}

