body{
    
    color: #faf9f6;
    background-color: #faf9f6;
    background-image: url(../assets/root_bg_lowOpacity.png);
    background-size: fill;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}


.main-content{
    margin-left: 200px;
  }
  