body{
    
    color: #faf9f6;
    background-color: #faf9f6;
    background-image: url(../assets/root_bg_lowOpacity.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
}



.main-content{
    margin-left: 200px;
  }


.index-title-con{
    width: 100vw;
    margin-left: -5%;
    background-image: url(../assets/Birdsong.png);
    background-position: center;
    background-size: cover;
}
  
.index-title{
    width: 100%;
    margin-left: 10%;
    padding: 1%;
    font-family: "Shadows Into Light", cursive !important; 
    font-weight: 700;
    font-size: 56px;
    color: #faf9f6;
}