

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #758c94;
    position: fixed;
    height: 100% !important;
    overflow: auto;
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }
  

  .nav-brand{
    width: 100%;
    display: flex !important;
    /* flex-direction: column; */
    justify-content: center;
 
  }

  .logo-img{
    width: 100%;
    padding: 10%;
  }

  .brand-name{
    margin-top: -5vh;
    display: flex !important;
    justify-content: center;
    width: 100%;
    font-weight: 700;
    
    font-family: "Shadows Into Light", cursive !important; 
    color: #f6f6f6;
  }

  .brand-name:hover, .logo-img:hover{
    cursor: pointer;
  }

  .green-tactics{
    color: #2F4F2F;
  }




  .sidebar a {
    display: block;
    color: #f6f6f6;
    font-weight: 600;
    padding: 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Shadows Into Light", cursive !important; 
  }
  
  .sidebar a.active {
    color: #2F4F2F;
    font-weight: 800;
  }
  
  .sidebar a:hover:not(.active) {
    /* background-color: #555; */
    color: #2F4F2F;
    font-size: 20px;
    cursor: pointer;
  }

  .nav-acount{
    position: fixed;
    bottom: 5%;
  }
  
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
