/* sign up */
/* ==================================================================================== */


.btn-logIn{
    width: 60%;
    margin-left: 20%;
    background-color: #C9B754 !important;
    border-radius: 25px !important;
    color: #FBFDFC !important;
  }
  
  .btn-signup{
    width: 100% !important;
    background-color: #4A7A8C !important;
    color: #faf9f6 !important;
  }

  .btn-signUp{
    width: 60%;
    margin-left: 20%;
    background-color: #799179!important;
    border-radius: 25px !important;
    color: #FAF9F6 !important;
    font-family: "Shadows Into Light", cursive !important; 
  }
  
  .signup-con{
    background-image: url("../assets/Medium_Box.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 4%;
  }




